# Ignore system files
.DS_Store
Thumbs.db

# Ignore node modules folder (if you use Node.js)
node_modules/

# Ignore log files
*.log

# Ignore environment variables files
.env

# Ignore build/dist folders if any
dist/
build/
